//COLORS
$color-primary: #2acfcf; // cta-s
$color-secondary: #4b3f6b; // purp backgrounds
$color-secondary-dark: #3b3054; // logo, dark backgound

$color-black: #000; // for shadows
$color-white: #fff; //hero, light headings, light font

$color-grey-light-1: #f0f1f6; //very-light-purple-background
$color-grey-light-2: #555; // default font (paragraphs)
$color-grey-light-3: #9c9ba1; //copyright

$color-grey-dark-1: #232127; //footer
$color-grey-dark-2: #35323e; //dark font (headings)
$color-grey-dark-3: #322b2b;

//BREAKPOINTS
$bp-big-desktop: 112.5em; //1800px
$bp-landscape: 75em; //1200px
$bp-portrait: 56.25em; //900px
$bp-phone: 37.5em; //600px
