.btn {
  &,
  &:link,
  &:visited {
    display: flex;
    align-items: center;

    width: fit-content;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    color: $color-white;
    border-radius: 3rem;
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    transition: all 0.2s;

    border: none;
    outline: none;
  }

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;
  }

  svg {
    height: 1.8rem;
    width: 1.8rem;
    fill: $color-white;
    margin-left: 0.75rem;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
